* {
    padding: 0;
    margin: 0;
}

@media(max-width: 1100px) {
    .pricing-card {
        flex: 50%;
    }

}

@media(max-width: 1024px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }

     .logo {
         font-size: 1.6rem;
     }

     .header .navbar ul {
         margin-top: 1.2rem;
     }

     .header .navbar ul li a {
         font-size: 1.5rem;
     }

     .header .navbar ul li {
         margin-left: 1.5rem;
     }

     /* ----Home Section */
     .home .content {
         padding: 2.4rem;
     }

     .home .content h3 {
         font-size: 3rem;
     }

     .home {
        min-height: 60vh;
    }

     /* -----Meal Prep */
     .meal-prep p {
         font-size: 3rem;
         padding: 3rem 3rem;
     }

       /* -----Private Dinner */
       .dining p {
        font-size: 3rem;
        padding: 3rem 3rem;
    }


}

@media(max-width:991px) {
    html {
        font-size: 55%
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media(max-width:768px) {
    html {
        font-size: 55%
    }

    .logo {
        color: #e0b113;
        font-size: 2rem;
        justify-content: center; 

    }

     .header #menu-bar {
         display: block;
        
     }

     .header .navbar {
         position: fixed;
         top: 8rem;
         right: 0;
         width: 100%;
         background: #000;
         border-top: .2rem solid rgba(0, 0, 0, .1);
         transform: scaleY(0);
         transform-origin: top;
         opacity: 0;
         display: flex;
        justify-content: right;
         align-items: center;
     }

     .header .navbar ul {
         flex-flow: column;
         padding: 2rem;
     }

     .header .navbar ul li {
         margin: 1.5rem;
         width: 100%;
     }

     .header .navbar ul li a {
         display: block;
         color: #e0b113;
         font-size: 2rem;
     }

     .header .navbar ul li a:hover,
     header .navbar ul li a.active {
         color: #333;
         border-color: #333;
     }

     .fa-times {
         transform: rotate(180deg);
     }

     .header .navbar.nav-toggle {
         transform: scaleY(1);
         opacity: 1;
     }

     .btn {
         display: block;
         padding: .9rem 1.5rem;
         margin-top: 1rem;
         width: 15rem;
     }

     /* -----Home Section */
     .image {
        padding-top: 4rem;
    }
     .home .image img {
        width: 75vw;
    }

    .home .content h3 {
        font-size: 4rem;
    }


    /* ---About Section */
    .heading {
        font-size: 6rem;
    }

    .heading span {
        font-size: 2.3rem;
    }

    /* -------Meal Prep */
    .meal-prep p {
         padding: 2rem 2rem;
     }

     /* -------Private Dinning */
     .dining p {
         padding: 2rem 2rem;
     }

     /* --------Packages Section */
     .package p {
         padding: 1.5rem 2em;
    }
    
}

@media ( max-width: 700px) {
    .footer {
        bottom: unset;
    }
}


@media(max-width:450px) {
   html {
       font-size: 50%
   }

   .about .content {
    padding: 0 1rem;
  }

   /* ---Home Section */
   .home .content {
    padding: 8rem .5rem;
    }

    .home .content h3 {
    font-size: 4rem;
    }

    .home .image img {
        width: 85vw;
    }

    /* ---Meal Prep */
    .meal-prep p {
        padding: 2rem .5rem;
    }

    .image-grid {
        --num-cols: 1;
        --row-height: 300px;
    }
    
    .image-grid-col-2 {
        grid-column: span 1;
        
    }
    
    .image-grid-row-2 {
        grid-row: span 1;
    }

     /* --------Packages Section */
     .package p {
        padding: 2rem .2rem ;
   }

   .footer .col {
       flex-basis: 100%;
   }

   .footer .col:nth-child(2),
   .footer .col:nth-child(3) {
       flex-basis: 100%;
   }

}


@media ( max-width: 320px) {
    .home .content h3 {
        font-size: 2.8rem;
        }

        /*-----About Section  */
    .about .content {
        padding: 0 1rem;
      }

      .dining p {
        padding: 2rem .5rem;
      }
}
